body{
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin: 100px;
    background-color: #DCF2F1;
    text-align: center;
}
.services-container{
    margin: 100px;
}
.row >.col-12{
    text-align: center;
    margin: 50px;
    background-color: #7FC7D9;
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}
.you{
    color: #EB6383;
}
.crystals-img{
    width: 500px;
    height: 500px;
    border-radius: 50px;
    text-align: center;
    float: right;
    margin-right: 20px;
}
.chakra-img{
    width: 500px;
    height: 500px;
    border-radius: 50px;
    text-align: center;
    float: right;
    margin-right: 20px;
}
.bodyp-img{
    width: 500px;
    height: 500px;
    border-radius: 50px;
    text-align: center;
    float: right;
    margin-right: 20px;
}
ol{
    clear: left;
}
.col-sm-12{
    margin-bottom: 30px;
}